label {
	font-weight: bold;
}

.wf {
	margin-bottom: 20px;
}

#wf-title {
	font-weight: bold;
	font-size: 24px;
	color: #60BD68;
}

.wf-viz-header {
	min-height: 40px;
	text-align: center;
	background-color: #fff !important;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	margin: 10px;
	padding: 5px 0;
	background-size: 24px;
	border: solid 1px rgb(222, 225, 229);
	border-radius: 3px;
}

.wf-viz {
	min-height: 40px;
	background-color: #fff;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	margin: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px;
	cursor: pointer;
	border: solid 1px rgb(222, 225, 229);
	border-radius: 3px;
	-webkit-transition: background-color 200ms linear;
	-ms-transition: background-color 200ms linear;
	transition: background-color 200ms linear;
	padding-left: 0;
}

.wf-viz-title {
	font-size: x-small;
	text-align: center;
	position: absolute;
	height: 100%;
	width: 100px;
	top: 0;
	right: 0;
	border-radius: 0 3px 3px 0;
}

.wf-viz-desc {
	top: 0;
	left: 0;
	height: 100%;
	border-radius: 3px 0 0 3px;
	font-size: x-small;
	text-align: center;
	vertical-align: middle;
	width: 100px;	/*background-color: white;*/
}

.wf-viz-desc > div {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
	color: #dedede;
	font-weight: bold;
}

.wf-viz-included > .wf-viz-desc > div {
		color: #fff;
	}

.wf-viz-title img {
	height: 32px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.wf-viz-included {
	background-image: url(img/delete.png);
	background-color: #dedede;
	border-color: #a2aeb9;
}

.wf-viz-included .wf-viz-title {
	border: solid 1px #60BD68;
}

.wf-viz-omitted .wf-viz-title {
	border: solid 1px #f5f5f5;
}

.wf-viz-included .wf-viz-title img {
	filter: brightness(10000%);
}

.wf-viz-omitted {
	background-image: url(img/add.png);
	border-color: #dedede;
}

.jumbotron {
	margin-top: 15px;
	padding-top: 15px;
	background-color: white;
}

#generated-dashboard-lookml-container {
	display: none;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 3px;
}

.color-preview-div {
	width: 100%;
}

.color-preview {
	width: 20%;
	min-height: 6px;
	float: left;
}

html {
	scroll-behavior: smooth;
}

.btn {
	padding-left: 20px;
	padding-right: 20px;
}

body {
	background-color: #efefef;
	/*font-family: 'Open Sans', sans-serif;*/
	background-image: url("data:image/svg+xml,%3Csvg xmlns=!string!viewBox=!string!width=!string!height=!string!%3E%3Cpath fill=!string!fill-opacity=!string!d=!string!%3E%3C/path%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5 {
	color: #282828;
	margin-bottom: 5px;
	margin-top: 60px;
	font-weight: bold;
	/*font-family: "Open Sans","Noto Sans JP","Noto Sans","Noto Sans CJK KR",Helvetica,Arial,sans-serifbody;*/

}

.navbar {
	max-height: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1020;
	background-color: #252d33 !important;
}

.navbar-brand {
	color: #fff;
	font-weight: bold;
}

.how-to-instructions {
	display: none;
	color: #282828;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
	width: 50%;
	margin: 50px 20px;
	padding: 15px;
	position: absolute;
	top: 20px;
	right: 0px;
	z-index: 2;
}

.app-title {
	border-bottom: solid 1px #ced4da;
	padding: 5px 15px 5px 0;
}

.btn-primary {
	background-color: #60BD68;
	border-color: #60BD68;
}

.btn-outline-primary {
	background-color: white;
	border-color: #ced4da;
	color: #686868;
}

.btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus {
	background-color: #60BD68 !important;
	border-color: #60BD68 !important;
	color: white !important;
}

.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
	background-color: #60BD68 !important;
	border-color: #60BD68 !important;
	color: white !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #60BD68;
	border-color: #60BD68;
}

.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
	background-color: #4cad54 !important;
	border-color: #4cad54 !important;
}

.btn:disabled {
	background-color: #dfdfdf;
	border-color: #dfdfdf;
	color: #afafaf;
}

.button-ico {
	background-color: #fefefe;
	border-color: #fefefe;
	color: #60BD68;
}

textarea {
	width: 100%;
	height: 360px;
	font-family: "Lucida Console", Monaco, monospace !important;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}

.settings-div {
	background-color: #efefef;
	border-radius: 5px;
	vertical-align: middle;
}

.settings-item {
	margin: 10px;
	min-height: 32px;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle:hover, .btn-circle:active {
	color: white;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}

.btn-white {
	color: white;
	border: solid 1px white;
}

.step {
	list-style: none;
	width: 100%;
}

.step .step-item {
	-ms-flex: 1 1 0;
	flex: 1 1 0;
	margin-top: 0;
	min-height: 1rem;
	position: relative;
	text-align: center;
}

.step .step-item:not(:first-child)::before {
	background: #0069d9;
	content: "";
	height: 2px;
	left: -50%;
	position: absolute;
	top: 9px;
	width: 100%;
}

.step .step-item span {
	color: #acb3c2;
	display: inline-block;
	padding: 20px 10px 0;
	text-decoration: none;
}

.step .step-item span::before {
	background: #0069d9;
	border: .1rem solid #fff;
	border-radius: 50%;
	content: "";
	display: block;
	height: .9rem;
	left: 50%;
	position: absolute;
	top: .2rem;
	transform: translateX(-50%);
	width: .9rem;
	z-index: 1;
}

.step .step-item.active span::before {
	background: #fff;
	border: .1rem solid #0069d9;
}

.step .step-item.active ~ .step-item::before {
	background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
	background: #e7e9ed;
}

.settings-form {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 3px;
}

::-webkit-input-placeholder { /* Edge */
  color: #eee !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #eee !important;
}

::placeholder {
  color: #eee !important;
}